/* Flex Box */
/* Flexbox is used in laying out things on the web page */
/* The firs step taking in working with flexbox is to display that we are working with flex box */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}3e

body {
    font-family: 'Open Sans', sans-serif
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}

.all {
    width: 80%;
    border: 0px solid black;
    margin: 0 auto;

}
header {
    border: 0px solid red;
    display: flex;
    
}
.leftheader {
    flex-basis: 40%;
    border: 0px solid yellow;
    text-align: right;
    padding-right: 0.5rem;
}
.rightheader {
    flex-basis: 60%;
    border: 0px dotted purple;
    margin-top: 3.75rem;
    padding-left: 0.5rem;

}
.rightheader h1 {
    border: 0px solid black;
    margin-bottom: 0;
}
.rightheader p {
    border: 0px solid purple;
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 0px solid red;
    border-bottom: 2px solid red;
}
li {
    border: 0px solid red;
    flex-basis: 25%;
    text-align: center;
}
a {
    background-color: #da0090;
    color: white;
    text-decoration: none;
    
}
a:hover {
    text-decoration: none;
    color: yellowgreen;
}
article {
    border: 0px solid red;
    margin-bottom: 2rem;

}
article img {
    float: left;
    margin: 0 1rem 1rem 0;
}
article::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    border-top: 1px solid red;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
